<mtapp:setting id="td-description" label="<__trans phrase="_TEMPLATE_DESCRIPTION">">
  <input
    type="text"
    name="td_description"
    id="td-description"
    class="form-control text full last-child"
    value="<mt:var name="td_description" escape="html">"
    maxlength="255"
    mt:watch-change="1"
  />
</mtapp:setting>